<h6 class="card-title">Url: 
  <a href="<%= link.url %>"><%= link.url %></a></h6>
<h6 class="card-title">
  Shortened Url: 
  <a href="<%= link.shortened_url(request)%>"><%= link.shortened_url(request) %></a>
</h6>