<%= render 'shared/form_layout' do %>
<div class="card-header">
    <h5 class="card-title">Editing link</h5>
</div>
<div class="card-body">
  <%= render "form", link: @link %>
  <br>
  <%= link_to "Show this link", link_path(@link), class: "btn btn-outline-secondary mb-3" %>
  <%= link_to "Back to links", links_path %>
</div>
<% end %>
