<%= render 'shared/form_layout' do %>
<div class="card-header">
    <h5 class="card-title">New link</h5>
</div>
<div class="card-body">
  <%= render "form", link: @link %>
  <br>
  <div>
    <%= link_to "Back to links", links_path %>
  </div>
</div>
<% end %>