<%= render "links/link", link: @link %>
<div>
  <%= link_to "Edit this link", edit_link_path(@link), class: "btn btn-success-outline" %>
  <%= link_to "Back to links", links_path, class: "btn btn-secondary-outline"%>

  <%= button_to "Destroy this link", @link, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger-outline" %>
</div>
