/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* General */
#main{
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
	height: 100%;
    flex: 1;
}

/* Navbar */
#logo {
    border-radius: 5px;
    margin: auto;
    font-size: 1.7em;
    color: #fff;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #logo span{
        display: none;
    }

    #logo img {
        width: 100%;        
    }
}

#logo:hover{
    box-shadow: 0 1px 4px rgb(87, 78, 97), 0 0 40px rgba(87, 78, 97, 0.1) inset;
}

.navbar-toggler {
    background-color: transparent;
    border-color: #fff;
    text-decoration-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(254, 141, 97)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
    background-color: #382F42;
    padding: 5px;
}

.nav-link, .dropdown-item{
    color: #fff;
    font-size: large;
}

.nav-link:hover{
    color: #c1bfbf;
}

.navbar-nav .nav-link.active, .navbar-nav .dropdown-item.active{
    color: #FE8D61;
}

.navbar-nav .dropdown-item.active{
    background-color: transparent;
}

.navbar-nav .dropdown-item.active:hover, button.dropdown-item:hover{
    background-color: #FE8D61;
    color: #fff;
}

.navbar-nav .nav-link.active:hover{
    color: #f4a98b;
}

.navbar span{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
}

.dropdown-menu {
  background-color: #3c3246;
}

.dropdown-menu a {
  color: #fff;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: #FE8D61;
  color: #fff;
}


/* Footer */

footer {
    display: block;
    background-color: #382F42;
    color: white;
    text-align: center;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

/* More custom styles */

.form {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #574e619f;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

/* More custom styles */

.form-custom {
    overflow-y: scroll;
    height: 300px;  
}

div.alert.alert-notice.alert-outline.alert-dismissible.fade.show {
    border-color: #c1bfbf;
    background: linear-gradient(90deg, #dad6d6 0%, #e0e0e0 50%, #dad6d6 100%);
}