<div class="d-flex justify-content-center text-center my-4">
  <%= link_to 'Count Per Day', day_count_report_path(@link), class: 'btn btn-outline-primary', style: 'margin-right: 10px' %>
  <%= link_to 'Count Per Date', date_count_report_path(@link), class: 'btn btn-outline-primary' %>
</div>

